<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Title</title>
</head>
<body>
    <div><h1>Common content</h1></div>

    <div sec:authorize="isAnonymous()"><h1>Anonymous content</h1>
        <form action='/thymeleaf/login' method='POST'>
            <table>
                <tr><td>User:</td><td><input type='text' name='username' value='' /></td></tr>
                <tr><td>Password:</td><td><input type='password' name='password' /></td></tr>
                <tr><td colspan='2'><input name="submit" type="submit" value="Login" /></td></tr>
                <input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}" />
            </table>
        </form>
        <img src="http://lukomore.org/w/images/1/18/Anonymous-mask.jpg" />
    </div>

    <div sec:authorize="hasRole('ROLE_USER')">
        <h1>User content</h1>
        <h2>User Name: <span sec:authentication="name"></span></h2>
        <form method="post" th:action="@{/logout}">
            <input type="submit" value="LogOut" />
        </form>
    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <h1>Admin content</h1>
        <h2>User Name: <span sec:authentication="name"></span></h2>
        <form method="post" th:action="@{/logout}">
            <input type="submit" value="LogOut" />
        </form>
    </div>



</body>
</html>